body {
  font-family:"Comic Sans MS", cursive, sans-serif;
  background-color:#D9E1E6;
}

#logo {
	  width: 50px;
}

#Header{
	background-image:url(../img/OX253EDR6R.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-right: 0;
	text-align: right;
	min-height:400px;


}
form.#Header{
  position: absolute;
  top: 50%;
  left: 50%;
}
nav {
	padding:5px;
	padding-bottom: 10px;
}
div.NAME {
	padding-left: 0px;
	font-weight: bold;
	font-size: 1.7em;

}

.searching{
	display: inline;
	padding-top
}

.circleImage{
	max-width:50px;
	border-radius: 50%;
}

.squareImage{
	max-width:150px;
	max-height: 150px;
}

li{
	list-style-type: none;
	padding-bottom: .7em;
}